.timerControls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px 0;
  .play {
    background: #DFE3E6;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: 300ms ease-in-out all;
    &:hover {
      background: darken(#DFE3E6, 15%);
    }
    .play-btn {
      fill: #FFFFFF;
      height: 22px;
    }
  }
  .pause {
    background: #DFE3E6;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
    transition: 300ms ease-in-out all;
    &:hover {
      background: darken(#DFE3E6, 15%);
    }
    .pause-btn {
      fill: #FFFFFF;
      height: 22px;
    }
  }
}
