.timerDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  .task {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1.65em;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    color: rgba(#D2B7A0, .75);
  }
  .digits {
    font-family: 'Baloo Bhaina', -apple-system, BlinkMacSystemFont, sans-serif;
    color: #6599AB;
    font-size: 4em;
    letter-spacing: 0.1em;
    margin: 0;
  }
}
